/* Our Story SECTION */
#story{
    width:100%;
    overflow:hidden;
    padding-top:5%;
    padding-bottom:5%;
    border-top:10px solid #2cb1e5;
}

#story h3{
    width:15%;
    float:left;
    font-size:60px;
    margin-left:30%;
    margin-top:0;
    border-left: 15px solid #2cb1e5;
    padding-left:10px;
}

#story p{
    width:30%;
    float:left;
    margin-top:-5px;
    font-size:20px;
    text-align: justify;
}

/* Meet the Duo SECTION */

#meetDuo{
    text-align:center;
    background-image: url("../img/building.jpg");
    background-size: cover;
    padding-top:50px;
    padding-bottom:50px;
    overflow:hidden;
}

#meetDuo h3{
    font-size:30px;
    border-bottom:5px solid black;
    width:240px;
    margin:auto;
}

#Amine, #Sam {
    float:left;
    width:50%;
    overflow:hidden;
}

.proPic {
    width:200px;
    height:200px;
    margin:0 auto;
    border-radius:50%;
    border:7px solid #2cb1e5;
}

#Sam .proPic {
   background:url("../img/samuel.jpg");
   background-size:contain;
   transition: 0.3s;
}

#Amine .proPic {
    background:url("../img/amine.jpg");
    background-size:contain;
    transition: 0.3s;
 }

#Sam .proPic:hover, #Amine .proPic:hover{
    background:url("../img/linkedin.png");
    background-size:contain;
 }

.meet-info{
    background:white;
    margin:auto;
    width:45%;
    padding:10px;
    padding-bottom:30px;
    margin-top:20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius:2px;
}

.meet-info h4{
    font-size:20px;
    font-weight:900;
    margin-bottom:5px;
}

.meet-info h5{
    font-size:15px;
    margin-top:0;
}

#meetDuo p{
    width:80%;
    margin:auto;
    text-align: left;
}

#meetDuo-2{
    width:70%;
    margin:auto;
    margin-top:50px;
}

/* Our Values SECTION */

#ourValues {
    padding:50px;
}

#ourValues h3{
    width:15%;
    float:left;
    font-size:60px;
    margin-left:3%;
    margin-top:0;
    border-left: 15px solid #2cb1e5;
    padding-left:10px;
}

.values-row {
    width:100%;
    overflow:hidden;
    margin-bottom:50px;
    padding:10px;
}

.value-item {
    width:26.33%;
    margin-left:2.5%;
    margin-right:2.5%;
    float:left;
    padding:1%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.value-item h4{
    font-size:25px;
    margin-bottom:0;
    text-transform: uppercase;
}

.value-item h5{
    font-size:17px;
    font-weight:600;
    margin-top:0;
    font-family: 'Nunito', sans-serif;
}

/***************************  MEDIA QUERY (MQ) ******************************/

/*MEDIA QUERT for BIGGER DESKTOP*/
@media screen and (min-width:1200px){
    #top{
        background-image: url("../img/mtl/mtl.jpg");
    }
}

/* MQ for DESKTOP*/
@media screen and (max-width:1200px){
    #top{
        background-image: url("../img/mtl/mtl-l.jpg");
    }

    #story h3{
        margin-left:20%;
    }

    #story p{
        width:50%;
        margin-left:5%;
    }

    .meet-info {
        width:70%;
    }

}

/* MQ for TABLET*/
@media screen and (max-width:980px){
    #top{
        background-image: url("../img/mtl/mtl-m.jpg");
    }

    #story h3{
        width:100%;
        margin-left:10%;
    }

    #story p{
        width:80%;
        margin:0 auto;
        float:none;
    }

    #Amine, #Sam {
        width:100%;
    }

    .meet-info{
        width:60%;
    }

    #Sam .proPic{
        margin-top:10%;
    }

    .values-row {
        overflow:inline;
        margin-top:0;
        margin-bottom:0;
        padding:0;
    }
    .value-item {
        width:70%;
        margin:auto;
        clear:both;
        float:none;
        margin-top:10%;
        padding:15px;
    }

}/* END od TABLET*/

/* MQ for MOBILE*/
@media screen and (max-width:480px){
    #top{
        background-image: url("../img/mtl/mtl-s.jpg");
    }

    .meet-info{
        width:95%;
    }

    .value-item{
        width:100%;
    }

}