
    #main{
        background-color: white;
       
    }

    #booknowlogo{
        text-align: center;
    }

    #main img{
        margin: 0 auto;
        margin-top: 70px;
        width: 250px;
    }

    #getintouch{
        overflow: hidden;
        margin-top: 3%;
        width:50%;
        float: left;
        padding-bottom: 17%;
    }
    
    #touch{
        border-left: #2cb1e5 15px solid;
        padding-left: 1.5%;
        margin-left: 25%;
        font-size: 40px;
        color:black;
    }

    #getintouch p{
        overflow: hidden;
        margin-left: 25%;
        font-size: 25px;
        color:black;
    }

    .instruction{
        padding-top: 5%;
        margin-left: 25%;
    }

    .text{
        width: 80%;
    }

    .text p{
        overflow: hidden;
        font-size: 25px;
        padding-top: 9%;
    }

    .steps{
        overflow: hidden;
        font-size: 40px;
    }

    .number{
        overflow: hidden;
        float: left;
        font-size: 55px;
    }

    .number h2 strong{
        border-bottom: #2cb1e5 solid 15px;
    }
    
    .quote{
        overflow: hidden;
        float: left;
        width: 30%;
        margin-left: 8%;
        background-color: #2cb1e5;
        color: white;
        border-radius: 10px;
        padding-bottom: 5%;
        
    }

    .quote h4{
        overflow: hidden;
        font-size: 40px;
        text-align: center;
    }

    .quote p{
        overflow: hidden;
        padding-left: 6.5%;
        font-size: 25px;
    }
    
    .fo input{
        overflow: hidden;
        margin-top: 14%;
        width: 75%;
        height: 55px;
        border-radius: 7px;
        margin-left: 13%;
        padding-left: 10px;
        
    }

    #comments{
        overflow: hidden;
        margin-top: 14%;
        width: 75%;
        height: 185px;
        border-radius: 7px;
        margin-left: 13%;
        padding-left: 10px;
    }

    #submit{
        height: 80px;
        background-color: #249ccc;
        color: white;
        font-size: 36px;
    }

    .fo select{
        overflow: hidden;
        margin-top: 14%;
        width: 75%;
        height: 55px;
        margin-left: 13%;
        border-radius: 7px;
        padding-left: 10px;
    }

    /***************************  MEDIA QUERY (MQ) ******************************/

/*MEDIA QUERT for BIGGER DESKTOP*/
@media screen and (min-width:1200px){
}

/* MQ for DESKTOP*/
@media screen and (max-width:1200px){
    #getintouch{
        margin-top: 0%;
        padding-bottom: 25%;
    }

    #touch{
        margin-left: 10%;
    }

    #getintouch p{
        margin-left: 10%;
    }

    .instruction{
        margin-left: 10%;
        padding-top: 0%;
    }

    .number{
        padding-right: 10%;
    }

    .quote{
        width: 40%;
    }

}

/* MQ for TABLET*/
@media screen and (max-width:980px){
    #getintouch{
        margin-top: 5%;
        width: 100%;
        float: none;
        padding-bottom: 20%;
    }

    #touch{
        width: 60%;
        margin: 0 auto;
        font-size: 28px;
    }

    #getintouch p{
        width: 60%;
        margin: 0 auto;
        font-size: 24px;
    }

    .instruction{
        width: 60%;
        margin: 0 auto;
        padding-top: 10%;
    }

    .number{
        font-size: 28px;
    }

    .steps{
        font-size: 28px;
    }

    .text{
        width: 100%;
        font-size: 24px;
    }

    .quote{
        width: 70%;
        float: none;
        margin: 0 auto;
        margin-bottom: 35%;
    }

    .quote p{
        text-align: center;
    }
   
}/* END of TABLET*/

/* MQ for MOBILE*/
@media screen and (max-width:480px){
    #getintouch{
        margin-top: 5%;
        width: 100%;
        float: none;
        padding-bottom: 20%;
    }

    #touch{
        width: 60%;
        margin: 0 auto;
        font-size: 24px;
    }

    #getintouch p{
        width: 60%;
        margin: 0 auto;
        font-size: 18px;
    }

    .instruction{
        width: 60%;
        margin: 0 auto;
        padding-top: 10%;
    }

    .number{
        padding-right: 5%;
        font-size: 24px;
    }

    .steps{
        font-size: 24px;
    }

    .quote{
        width: 80%;
        float: none;
        margin: 0 auto;
        margin-bottom: 35%;
    }

    .text{
        width: 100%;
        font-size: 18px;
    }
}