.wrapper {
    min-height:1000px;
    overflow:hidden;
}
/*Top*/

#main-top{
    height: 500px;
    padding-top:80px;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#info-top{

    margin-left:15%;
    width:350px;
}

#info-top h2{
    font-size:50px;
}

    #withUs {
        float:right;
        text-align:right;
        margin-top:-50px;
        margin-right:10px;
        width:100%;
        clear:both;
    }

    #withUs p{
        float: right;
    }

    #withUs img{
        width:100px;
        float: right;
        margin-top:5px;
    }

#info-top button{
    float: left;
    background-color: black;
    color:white;
    border:none;
    margin-right:20px;
    padding:10px;
}

/* MISSION STATEMENT */

#m-statement {
    border-top:10px solid #2cb1e5;
    background: #CFCFCF;
    background-image: url("../img/mtl.jpg");
    background-size: cover;
    background-position: center;
    height:300px;
    overflow:hidden;
}

#statement-box{
    width:45%;
    background:white;
    border-left:20px solid #2cb1e5;
    margin:0 auto;
    margin-top:50px;
    padding:20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

#statement-box h2{
    text-align:center;
}

#statement-box p{
    width:80%;
    margin:0 auto;
    
}

/* OUR SERVICES */

#ourServices {
    margin-top:50px;
}

#ourServices h2{
    text-align:center;
    border-bottom:1px solid black;
    width:200px;
    margin:0 auto;
}

#ourServices button{
    background:black;
    color:white;
    border:none;
    padding:10px;
}

#ourServices button:hover{
    background:grey;
    color:white;
    cursor:pointer;
}

#web-sect, #serv-sect, #media-sect{
    margin-top:150px;
    overflow:hidden;
    display:block;
}

.img {
    width:50%;
    float:left;
    margin-left:10%;
}

.serv-desc{
    background:white;
    width:30%;
    float:left;
    margin-left:-100px;
    padding:50px;
    margin-top:6%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.serv-desc h4{
    border-left:6px solid #2cb1e5;
    padding-left:5px;
}

#serv-sect .serv-desc{
    float:right;
}

#serv-sect .img{
    margin-left:-100px;
    float:right;
    margin-right:10%;
}

#media-sect {
    margin-top:150px;
}

/***************************  MEDIA QUERY (MQ) ******************************/

/*MEDIA QUERT for BIGGER DESKTOP*/
@media screen and (min-width:1200px){
}

/* MQ for DESKTOP*/
@media screen and (max-width:1200px){
    #m-statement{
        height:auto;
        padding-bottom:10%;
    }

}

/* MQ for TABLET*/
@media screen and (max-width:980px){
    
    #ourServices{
        padding:5%;
    }

    .img{
        width:80%;
        height:auto;
        float:none;
    }
   
    .serv-desc{
       width:80%;
       margin:0;
       float:none;
   }

   #serv-sect .serv-desc {
    float:left;
   }
}/* END of TABLET*/

/* MQ for MOBILE*/
@media screen and (max-width:480px){

    #main-top{
        height:auto;
        padding-bottom:20%;
    }

    #statement-box{
        width:75%;
    }

    #info-top{
        width:80%;
        margin:auto;
    }

    #info-top h2{
        font-size:35px;
    }

    #info-top button{
        
        float:none;
        margin-left:10%;
        width:80%;
        margin-bottom:5%;
    }

    #cta-btn{
        width:100%;
    }
}