.Presentation_text{
   overflow: hidden;
}

.left_Presentation_text{
    overflow: hidden;
    float: left;
    width: 45%;
    height: 869px;
    background-color: #2cb1e5;
    color: white;
}

.left_Presentation_text h3{
    overflow: hidden;
    margin-left: 18.5%;
    margin-top: 30%;
    border-left: white solid 15px;
    font-size: 48px;
    padding-left: 10px;
}

.left_Presentation_text p{
    overflow: hidden;
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
    font-size: 18px;
    font-weight: normal;
}

.left_Presentation_text button{
    margin-top: 5%;
    margin-left: 32%;
    padding-right: 2%;
    padding-left: 2%;
    height: 42px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.left_Presentation_text button:hover{
    background-color: white;
    color: black;
}

.right_Presentation_text{
    overflow: hidden;
    float: left;
    width: 55%;
    height: 869px;
    
}

.pres_square{
    overflow: hidden;
    float: left;
    width: 50%;
    height: 50%;
    background-color: #8AC7DB;
    text-align: center;
}

.graybg{
    background-color: #D4F1F4;
}
.pres_square h4{
    font-weight: bold;
    font-size: 24px;
}

.pres_square p{
    font-weight: normal;
    font-size: 18px;
    margin: auto;
    width: 80%;
}

.pres_square ion-icon{
    overflow: hidden;
    width: 20%;
    height: 30%;
    margin:auto;
    margin-top: 10%;
}

.additional_service{
    overflow: hidden;
    width: 65%;
    height: 50%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2%;
    background-color:#8AC7DB;
}

.additional_service h4{
    overflow: hidden;
    font-size: 20px;
    margin-top: 3%;
    float: left;

}

.additional_service p{
    overflow: hidden;
    float: left;
    font-weight: normal;
    font-size: 18px;
    width: 40%;
    margin-top: 3%;
    margin-left: 15%;

}

.additional_service ion-icon{
    overflow: hidden;
    float: left;
    margin-left: 5%;
    width: 150px;
    height: 150px;
}

/***************************  MEDIA QUERY (MQ) ******************************/

/*MEDIA QUERT for BIGGER DESKTOP*/
@media screen and (min-width:1200px){
    #top{
        background-image: url(../img/ourservices/fancydesk-xlarge.jpg);
    }
}

/* MQ for DESKTOP*/
@media screen and (max-width:1200px){
    #top{
        background-image: url(../img/ourservices/fancydesk-l.jpg);
    }
    .additional_service p{
        width: 30%;
    }
}

/* MQ for TABLET*/
@media screen and (max-width:980px){
    #top{
        background-image: url(../img/ourservices/fancydesk-m.jpg);
    }

    .Presentation_text{
         display: flex;
         flex-direction: column;
    }

    .left_Presentation_text{
        float: none;
        width: 100%;
        height: auto;
        padding-bottom: 20%;
    }

    .left_Presentation_text h3{
        overflow: hidden;
        margin-top: 15%;
        margin-left: 20%;
    }

    .left_Presentation_text p{
        margin: auto;
    }

    .left_Presentation_text button{
        margin-left: 40%;
     }

     #servertxt{
         order: 2;
     }
     
     #serverinfo{
         order: 1;
     }

    .right_Presentation_text{
        width: 100%;
    }

    .additional_service ion-icon{
        width: 80px;
        height: 80px;
        margin-top: 2%;
    }

    .additional_service h4{
        font-size: 18px;
        
    }

    .additional_service p{
        margin-left: 10%;
        font-size: 16px;
        width: 40%;
    }
    
}/* END of TABLET*/

/* MQ for MOBILE*/
@media screen and (max-width:480px){
    #top{
        background-image: url(../img/ourservices/fancydesk-s.jpg);
    }

    .left_Presentation_text h3{
        font-size: 32px;
    }

    .left_Presentation_text p{
        font-size: 18px;
    }

    .left_Presentation_text button{
        margin-left: 35%;
    }

    .right_Presentation_text{
        height: auto;
    }

    .pres_square{
        float: none;
        height: 350px;
        width: 100%;
    }


    .pres_square ion-icon{
        width: 15%;
        height: 25%;
    }

    .pres_square h4{
        font-size: 24px;
    }

    .pres_square p{
        font-size: 16px;
    }

    .in_between{
        padding-top: 15%;
        padding-bottom: 15%;
    }

    .additional_service{
        width: 100%;
    }

    .additional_service h4{
        margin-top: 4%;
        margin-left: 13%;
    }

    .additional_service p{
        width: 100%;
        margin-left: 3%;
    }
}