.thanks{
    overflow: hidden;
    text-align: center;
    background-color: #2cb1e5;
    color: white;
    padding-bottom: 12%;
}

.thanks h1{
    overflow: hidden;
    margin-top: 12%;
    font-size: 40px;
}

.thanks p{
    overflow: hidden;
    margin-top: 3%;
    font-size: 28px;
}

.thanks button{
    margin-top: 2%;
    height: 60px;
    color: white;
    background-color: black;
    font-size: 20px;
    border-radius: 50%;
}

.thanks button:hover{
    cursor: pointer;
    border: none;
    color: black;
    background-color: white;
}

.thanks button ion-icon{
    width: 40px;
    height: 40px;
}

/***************************  MEDIA QUERY (MQ) ******************************/

/*MEDIA QUERT for BIGGER DESKTOP*/
@media screen and (min-width:1200px){
    
}

/* MQ for DESKTOP*/
@media screen and (max-width:1200px){
    

}

/* MQ for TABLET*/
@media screen and (max-width:980px){
    .thanks h1{
        font-size: 34px;
    }

    .thanks p{
        font-size: 24px;
    }
   
}/* END of TABLET*/

/* MQ for MOBILE*/
@media screen and (max-width:480px){
    .thanks h1{
        font-size: 28px;
    }

    .thanks p{
        font-size: 18px;
    }
}