
.thanks{
    overflow: hidden;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 15%;
    
}

.thanks h1{
    overflow: hidden;
    margin-top: 5%;
    font-size: 40px;
    color: #2cb1e5;
}

.thanks p{
    overflow: hidden;
    margin-top: 3%;
    font-size: 28px;
}

.thanks button{
    margin-top: 2%;
    height: 60px;
    width:60px;
    color: white;
    background-color: black;
    font-size: 20px;
    border-radius: 50%;
    border:none;
}

.thanks button:hover{
    cursor: pointer;
    border: none;
    background-color: #2cb1e5;
}

.thanks button ion-icon{
    width: 40px;
    height: 40px;
}

#square{
    overflow: hidden;
    margin-top: 15%;
    margin: 0 auto;
    width: 60%;
    padding: 2%;
}

/***************************  MEDIA QUERY (MQ) ******************************/
/*MEDIA QUERT for BIGGER DESKTOP*/
@media screen and (min-width:1200px){
    
}

/* MQ for DESKTOP*/
@media screen and (max-width:1200px){
    .thanks {
        margin-bottom:20%;
    }

}

/* MQ for TABLET*/
@media screen and (max-width:980px){
    .thanks {
        margin-top:25%;
        margin-bottom:35%;
    }

    .thanks h1{
        font-size: 34px;
    }

    .thanks p{
        font-size: 24px;
    }
   
}/* END of TABLET*/

/* MQ for MOBILE*/
@media screen and (max-width:480px){
    .thanks h1{
        font-size: 28px;
    }

    .thanks p{
        font-size: 18px;
    }
}